<h1>Github public repositories catalog</h1>
<div ng-controller="CatalogController">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" ng-click="firstPage()" aria-label="First">
          <span aria-hidden="true">Go to First</span>
        </a>
      </li>
      <li>
        <a href="#" ng-click="nextPage()" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-xs-12" ng-repeat="repo in repos | orderBy:'id'">
      <!--<div class="panel panel-default">
        <div class="">{{repo.id}}</div>
        <div class="panel-heading">
          <a class="catalogRepoName" ng-href="#/repo/{{repo.name}}/{{repo.owner.login}}">
            {{repo.name}}
          </a>
          <p class="pull-right"><a ng-href="{{repo.html_url}}" target="_blank">View repository on GitHub</a> <i class="glyphicon glyphicon-eye-open"></i></p>
        </div>
        <div class="panel-body">
          <div class="col-md-8 clearfix">
            <img class="img-thumbnail pull-left" style="width:120px;height:120px;margin-right:20px;"
                 ng-src="{{ repo.owner.avatar_url }}" alt="{{ repo.owner.login }}">

            <div class="repoDesc">
              <h2 class=""><a ng-href="#/user/{{repo.owner.login}}">{{repo.owner.login}}</a></h2>

              <p>{{ repo.description }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <a ng-href="#/repo/{{repo.name}}/{{repo.owner.login}}"
               class="btn btn-primary btn-lg btn-block">Contributors list</a>
            <button
              ng-click="addToFavorites($event,repo.id,repo.name,repo.owner.login, repo.description,repo.owner.avatar_url)"
              type="button" class="btn btn-default btn-lg btn-block" ng-class="{'btn-danger':repo.favorite}">{{repo.favorite ? 'Unmark favorite' : 'Mark favorite'}}
            </button>
          </div>

        </div>
      </div>-->
      <repo-item favorites='addToFavorites' id="repo.id" name="repo.name" login="repo.owner.login" repoUrl="repo.html_url" avatar="repo.owner.avatar_url" description="repo.description"></repo-item>

    </div>
  </div>
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" ng-click="firstPage()" aria-label="First">
          <span aria-hidden="true">Go to First</span>
        </a>
      </li>
      <li>
        <a href="#" ng-click="nextPage()" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>


</div>

