<h1>Github public repositories catalog</h1>
<div ng-controller="CatalogController">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" ng-click="firstPage()" aria-label="First">
          <span aria-hidden="true">Go to First</span>
        </a>
      </li>
      <li>
        <a href="#" ng-click="nextPage()" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-xs-12" ng-repeat="repo in repos | orderBy:'id'">

      <repo-item
        isfavorite="repo.favorite"
        id="repo.id"
        name="repo.name"
        login="repo.owner.login"
        link="repo.html_url"
        avatar="repo.owner.avatar_url"
        description="repo.description">
      </repo-item>

    </div>
  </div>
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" ng-click="firstPage()" aria-label="First">
          <span aria-hidden="true">Go to First</span>
        </a>
      </li>
      <li>
        <a href="#" ng-click="nextPage()" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>


</div>

