<div class="row">
  <div class="col-xs-12">
    <a ng-href="{{repo.project.html_url}}" target="_blank">View repository on GitHub</a> <i
    class="glyphicon glyphicon-eye-open"></i>
  </div>
  <div class="col-xs-12 col-sm-6">
    <img class="img-thumbnail pull-left" style="width:120px;height:120px;margin-right:20px;"
         ng-src="{{ repo.project.owner.avatar_url }}" alt="{{ repo.project.title }}">

    <div class="repoNameDetail">{{repo.project.name}}</div>
    <div class="repoNameDetailOwner">({{repo.project.owner.login}})</div>
    <div>{{repo.project.description}}</div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div>Stars:{{repo.project.watchers}}</div>
    <div>Forks:{{repo.project.forks_count}}</div>
    <div>Subscribers:{{repo.project.subscribers_count}}</div>
  </div>
</div>

<div ng-controller="RepoController">
  <div class="row">
    <div class="col-xs-12">
      <h1>Project Contributors:{{totalItems}}</h1>
      <pagination ng-show="showPages()" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                  items-per-page="30"></pagination>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2" ng-repeat="user in users | orderBy:'-contributions'">
      <a class="repoDetailContributorHref" ng-href="#/user/{{user.login}}">
        <div class="thumbnail contrThumb">
          <div class="contributorName">
            {{user.login}}
          </div>
          <img ng-src="{{ user.avatar_url }}" alt="{{user.login}}">
          <div class="contributionsCount">
          Contributions:{{user.contributions}}
            </div>
        </div>
      </a>
    </div>

  </div>

  <pagination ng-show="showPages()" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
              items-per-page="30"></pagination>
</div>
