<div ng-controller="UserController">
  <div class="row">
    <div class="col-xs-4">
      <div class="thumbnail contrThumb">
        <img ng-src="{{ user.avatar_url }}" alt="{{user.name}}">
      </div>
    </div>
    <div class="col-xs-8">
      <a ng-href="{{user.html_url}}" target="_blank">View user on GitHub</a> <i
      class="glyphicon glyphicon-eye-open"></i>

      <h1 class="userDetailName">
        {{user.name}}
      </h1>

      <h2 class="userDetailLogin">
        {{user.login}}
      </h2>

      <div class="userDetailMail">
        {{user.email}}
      </div>
      <div class="userDetailMail">
        Followers: {{user.followers}}
      </div>
      <div class="userDetailMail">
        Public repos:{{user.public_repos}}
      </div>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item active">
      User repositories({{totalItems}})
    </div>
    <div class="list-group-item clearfix" ng-repeat="repo in repos | orderBy:'id'">

      <div class="col-xs-12 col-sm-6">
        <a class="userReposLink" ng-href="#/repo/{{repo.name}}/{{repo.owner.login}}"
           class="">{{repo.name}}</a>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <p><a ng-href="{{link}}" target="_blank">View repository on GitHub</a> <i
          class="glyphicon glyphicon-eye-open"></i></p>
      </div>


      <!--    <repo-item
            isfavorite="repo.favorite"
            id="repo.id"
            name="repo.name"
            login="repo.owner.login"
            link="repo.html_url"
            avatar="repo.owner.avatar_url"
            description="repo.description">
          </repo-item>-->

    </div>
    <pagination ng-show="showPages()" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                items-per-page="10"></pagination>
  </div>
</div>
