<div class="row">
  <div class="col-xs-12 col-sm-6">
    <img class="img-thumbnail pull-left" style="width:120px;height:120px;margin-right:20px;"
         ng-src="{{ contributors.project.owner.avatar_url }}" alt="{{ contributors.project.title }}">
    <div class="repoNameDetail">{{contributors.project.name}}</div>
    <div>{{contributors.project.description}}</div>
  </div>
  <div class="col-xs-12 col-sm-6">
      <div>Stars:{{contributors.project.watchers}}</div>
    <div>Forks:{{contributors.project.forks_count}}</div>
    <div>Subscribers:{{contributors.project.subscribers_count}}</div>
  </div>
</div>
<div ng-controller="ContributorsListController">
  <div class="row">
    <div class="col-xs-12">
      <h1>Project Contributors:{{totalItems}}</h1>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" ng-repeat="user in users | orderBy:'-contributions'">
      <div class="thumbnail contrThumb">
        <div class="contributorName">
          <a target="_blank" ng-href="{{user.html_url}}">{{user.login}}</a>
        </div>

        <img ng-src="{{ user.avatar_url }}" alt="{{user.login}}">
        Contributions:{{user.contributions}}
      </div>
    </div>

  </div>

  <pagination ng-show="showPages()" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
              items-per-page="30"></pagination>
</div>
